<div class="container-fluid">
  <div class="row">
    <div class="col-4 left-section"></div>
    <div class="col-12 col-sm-8 right-section">
      <div class="d-flex justify-content-center align-items-center mt-5 pt-5">
        <div>
          <form (submit)="submitChangePasswordForm($event)">
            <div class="borderContainer">
              @if (step() == 1) {

              <div class="text-center mb-4">
                <div>
                  <img [ngSrc]="lockImg()" alt="Reset Password" height="40" width="40" />
                </div>

                <div class="mt-1 fw-bold text-primary">Reset Password</div>
                <div class="mt-1 fs-15">
                  We'll send you a one time password (OTP) to verify your email
                </div>
              </div>

              <div class="form-group mb-3">
                <input
                  type="email"
                  class="form-control custom-input cutsom-input-height-45"
                  placeholder="Email*"
                  [field]="changePasswordForm.email"
                  [ngClass]="{
                      'is-valid':
                        changePasswordForm.email().dirty() &&
                        changePasswordForm.email().valid(),
                      'is-invalid custom-input-error':
                        (changePasswordForm.email().dirty() ||
                          changePasswordForm.email().touched()) &&
                        changePasswordForm.email().invalid(),
                    }"
                />

                @if (changePasswordForm().invalid() && changePasswordForm.email().touched()) {
                <div class="text-danger fst-italic">
                  @for(error of changePasswordForm.email().errors(); track error.kind) {
                  <span class="ms-2 my-1">{{ error.message }}</span>
                  }
                </div>
                }
              </div>

              <div class="d-grid">
                @if (!spinner()) {
                <button
                  type="button"
                  class="btn btn-primary"
                  [disabled]="changePasswordForm().invalid()"
                  (click)="sendOtp()"
                >
                  Send OTP
                </button>
                } @if (spinner()) {
                <button type="button" class="btn btn-primary cursor-progress">
                  <div class="spinner-border spinner-border-sm" role="status"></div>
                </button>
                }
              </div>
              } @else if(step() === 2) {

              <div class="text-center mb-2">
                <img
                  alt="email-otp-verify"
                  ngSrc="assets/icons/email_verify_otp.png"
                  width="40"
                  height="40"
                />
              </div>

              <div class="fw-bold text-center mb-2 fs-17">Email Verification</div>

              <div class="text-center fs-15">Enter the verification code sent to</div>

              <div class="text-center text-primary fw-bold fs-20 mt-2">
                {{ changePasswordForm.email().value() | fixedMaskData : 'email' }}
              </div>

              <div class="text-center my-4">
                <ng-otp-input
                  [config]="ngOtpConfig()"
                  (onInputChange)="onOtpChange($event)"
                ></ng-otp-input>
              </div>

              @if(resendOtpTimer$ | async; as time) { @if (time.minutes > 0 || time.seconds > 0) {
              <div class="text-center">
                @if (!spinner()) {
                <button
                  type="button"
                  class="btn btn-primary padding-inline-150"
                  [disabled]="changePasswordForm().invalid()"
                  (click)="verifyOtp()"
                >
                  Verify
                </button>
                } @if (spinner()) {
                <button type="button" class="btn btn-primary padding-inline-150 cursor-progress">
                  <div class="spinner-border spinner-border-sm" role="status"></div>
                </button>
                }
              </div>

              @if (time) {
              <div class="text-center fs-13 mt-1">
                <div>
                  Haven't received OTP ? Resend OTP in
                  <span class="text-danger fw-bold">{{ time.minutes }}m {{ time.seconds }}s</span>
                </div>
              </div>
              } } @if (time.minutes === 0 && time.seconds <= 0) {
              <div class="text-center">
                @if (!resendOtpLoader()) {
                <button
                  type="button"
                  class="btn btn-secondary padding-inline-130"
                  (click)="resendOtp()"
                >
                  Resend OTP
                </button>
                } @else {
                <button type="button" class="btn btn-secondary padding-inline-150 cursor-progress">
                  <div class="spinner-border spinner-border-sm" role="status"></div>
                </button>
                }
              </div>
              } } } @else if (step() === 3) {
              <div class="text-center">
                <div>
                  <img
                    alt="reset-passord"
                    ngSrc="assets/icons/reset_password.png"
                    width="40"
                    height="40"
                  />
                </div>
                <div class="my-1 fw-bold">Reset Password</div>
                <div class="alert alert-warning fw-bold fs-12 d-flex flex-row" role="alert">
                  <div class="text-end">
                    <i class="bi bi-exclamation-circle-fill"></i>
                  </div>
                  <div class="text-dark ps-1">
                    We recommend to use a strong password to keep your account secure.
                  </div>
                </div>
              </div>

              <div class="form-group mb-3 inner-addon right-addon">
                @if (showVisibilityIcon()) {
                <span class="innerText" (click)="togglePasswordVisibility1()">
                  @if (fieldTextType()) {
                  <i class="bi bi-eye-slash"></i>
                  } @else {
                  <i class="bi bi-eye"></i>
                  }
                </span>
                } @if(fieldTextType()){
                <input
                  type="text"
                  class="form-control custom-input cutsom-input-height-45"
                  placeholder="New Password*"
                  [field]="changePasswordForm.password"
                  [ngClass]="{
                    'is-valid':
                      changePasswordForm.password().dirty() &&
                      changePasswordForm.password().valid(),
                    'is-invalid custom-input-error':
                      (changePasswordForm.password().dirty() ||
                        changePasswordForm.password().touched()) &&
                      changePasswordForm.password().invalid(),
                  }"
                />
                }@else {
                <input
                  type="password"
                  class="form-control custom-input cutsom-input-height-45"
                  placeholder="New Password*"
                  [field]="changePasswordForm.password"
                  [ngClass]="{
                    'is-valid':
                      changePasswordForm.password().dirty() &&
                      changePasswordForm.password().valid(),
                    'is-invalid custom-input-error':
                      (changePasswordForm.password().dirty() ||
                        changePasswordForm.password().touched()) &&
                      changePasswordForm.password().invalid(),
                  }"
                />
                } @if ( changePasswordForm().invalid() && changePasswordForm.password().touched() )
                {
                <div class="ms-2">
                  <app-password-strength [passwordToCheck]="changePasswordForm.password().value()">
                  </app-password-strength>
                </div>
                }
                <div class="text-danger fst-italic">
                  @if(changePasswordForm().invalid() && changePasswordForm.password().touched()){
                  @for(error of changePasswordForm.password().errors(); track error.kind) {
                  <span class="ms-2 my-1">{{ error.message }}</span>
                  } }
                </div>
              </div>

              <div class="form-group mb-3 inner-addon right-addon">
                @if (showVisibilityIcon()) {
                <span class="innerText" (click)="togglePasswordVisibility2()">
                  @if (fieldTextType2()) {
                  <i class="bi bi-eye-slash"></i>
                  } @else {
                  <i class="bi bi-eye"></i>
                  }
                </span>
                } @if(fieldTextType2()){

                <input
                  type="text"
                  disableCutCopyPaste
                  autocomplete="off"
                  class="form-control custom-input cutsom-input-height-45"
                  placeholder="Confirm Password*"
                  [field]="changePasswordForm.confirmPassword"
                  [ngClass]="{
                    'is-valid':
                      changePasswordForm.confirmPassword().dirty() &&
                      changePasswordForm.confirmPassword().valid(),
                    'is-invalid custom-input-error':
                      (changePasswordForm.confirmPassword().dirty() ||
                        changePasswordForm.confirmPassword()
                          .touched()) &&
                      changePasswordForm.confirmPassword().invalid(),
                  }"
                />
                }@else {
                <input
                  type="password"
                  disableCutCopyPaste
                  autocomplete="off"
                  class="form-control custom-input cutsom-input-height-45"
                  placeholder="Confirm Password*"
                  [field]="changePasswordForm.confirmPassword"
                  [ngClass]="{
                    'is-valid':
                      changePasswordForm.confirmPassword().dirty() &&
                      changePasswordForm.confirmPassword().valid(),
                    'is-invalid custom-input-error':
                      (changePasswordForm.confirmPassword().dirty() ||
                        changePasswordForm.confirmPassword()
                          .touched()) &&
                      changePasswordForm.confirmPassword().invalid(),
                  }"
                />
                }
                <div class="text-danger fst-italic">
                  @if(changePasswordForm().invalid() &&
                  changePasswordForm.confirmPassword().touched() ){ @for(error of
                  changePasswordForm.confirmPassword().errors(); track error.kind) {
                  <span class="ms-2 my-1">{{ error.message }}</span>
                  } }
                </div>
              </div>

              <div class="d-grid">
                @if (!spinner()) {
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="changePasswordForm().invalid()"
                >
                  Reset Password
                </button>
                } @if (spinner()) {
                <button type="button" class="btn btn-primary cursor-progress">
                  <div class="spinner-border spinner-border-sm" role="status"></div>
                </button>
                }
              </div>
              }
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
